footer{
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    width: 100%;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    .redes-sociales a{
        color: #fff;
        text-decoration: underline;
        /* margin-left: 20px; */
        &:hover{
            text-decoration: none;
        }
    }
}
