@media screen and (max-width: 800px) {
    .main{
        width: 100%;
    }   

    aside{
        width: 100%;
        flex-direction: row;
    }

    aside .ad{
        width: 40%;
    }
}

@media screen and (max-width: 610px){
    header{
        flex-direction: column;
        padding-bottom: 0;
    }

    header .logo{
        text-align: center;
    }
    header .logo img{
        margin-bottom: 10px;
        text-align: center;
        width: 60%;
    }

    header .menu{
        width: 100%;
        text-align: center;
        background: rgb(255, 255, 255, .2);
        display: flex;
    }
    header .menu a{
        /* background: rgb(255, 255, 255, .2); */
        padding: 20px;
    }

    /* header.menu a{
        margin: 0 20px;
    } */

    footer{
        flex-direction: column;
        text-align: center;
    }

    footer .autor{
        order: 2;
    }

    footer .redes-sociales{
        order: 1;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 400px) {
    header .menu{
        display: flex;
        justify-content: space-between;
    }
    aside{
        display: none;
    }
}